
.drum-machine {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, 1fr); 
    gap: 8px; 
    margin-left:20px;
    
  }


.drum-pad{
    background-color: rgb(128, 128, 128); 
    color: black;
    height: 80px;
    width:105px; 
    font-size: 20px;
    border-radius: 5px;
    text-align:center;
    align-content: center;
    font-weight: 900;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
    border:none;
    
  }

.displayBox{
    width:200px;
}  

.power-switcher{
    width:55px;
    height:23px;
    background-color: black;
} 



.display{
    width:200px;
    height:50px;
    background-color: grey;
}